<!--Navbar -->

<nav class="mb-1 navbar navbar-expand-lg navbar-dark black ">
  <a class="navbar-brand" href="#">LG</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto smooth-scroll">

      <!-- Home Button -->
      <li class="nav-item">
        <a class="nav-link" href="/">home
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">about</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="bio">bio</a>
          <a class="dropdown-item" href="random">random</a>
        </div>
      </li>

      <!-- Resume Button -->
      <li class="nav-item">
        <a class="nav-link" href="education">education</a>
      </li>

      <!-- Contact Button  -->
      <li class="nav-item">
        <a class="nav-link" href="contact">contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="article">article</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="other">other</a>
      </li>
    </ul>

    <!-- Social Icons -->
    <ul class="navbar-nav ml-auto nav-flex-icons">

      <!-- Instagram Link on Navbar -->
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.instagram.com/leonardg__/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>

      <!-- Linkedin Link on Navbar -->
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="https://www.linkedin.com/in/leonard-gonzalez-a8086719a/"
          target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>

    </ul>
  </div>

</nav>

<!--/.Navbar -->