<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<!-- Section: Features v.3 -->
<section class="my-4">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">hello</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5">Computer Science student looking for an internship or
    entry-level position within the tech industry
    where I can apply the skill and experiences I’ve gained from Texas A&M University, to a company that values
    integrity, humility and teamwork.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 text-center text-lg-right">
      <img src="/img/stuff/DSCF7779.jpg" height="550">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class=></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Home Town </h5>
          <p class="grey-text">San Antonio, TX</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!-- Grid row -->
      <div class="row mb-3">

        <!-- Grid column -->
        <div class="col-1">
          <i class=></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Free Time</h5>
          <p class="grey-text">Walking with my dog, or browsing YouTube for conspirecy videos</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <!--Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-1">
          <i class></i>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xl-10 col-md-11 col-10">
          <h5 class="font-weight-bold mb-3">Goals</h5>
          <p class="grey-text mb-0">Use my knowledge to develope technology to help those in need</p>
        </div>
        <!-- Grid column -->

      </div>
      <!--Grid row-->

    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->


<%- include('layouts/footer.ejs') %>