<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<!-- Container -->
<div class="container">

  <div class="row">

    <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items height">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view">
          <img src="/img/stuff/nvc.jpg" height="200" class="card-img-top" alt="">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">NorthWest Vista College</h4>
          <!--Text-->
          <p class="card-text">AA, Psychology 2016 </p>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!-- Column -->

    <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view">
          <img src="/img/stuff/utsa.png" height="200" class="card-img-top" alt="">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">The University of Texas at San Antonio</h4>
          <!--Text-->
          <p class="card-text">BA, Psychology 2018</p>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!-- Column -->

    <!-- Column -->
    <div class="col-md-4 mb-4 d-flex align-items">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view">
          <img src="/img/stuff/university .png" height="200" class="card-img-top" alt="">
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Texas A&M University-San Antonio</h4>
          <!--Text-->
          <p class="card-text">BS, Computer Science 2018</p>
        </div>

      </div>
      <!--/.Card-->

    </div>
    <!-- Column -->

  </div>
  <!-- Container -->

</div>

<%- include('layouts/footer.ejs') %>