<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>

<!-- Section: Team v.2 -->
<section class="team-section text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">my team</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row text-center">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="avatar mx-auto">
        <img src="/img/stuff/DSCF7779.jpg" height="340" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Leonard Gonzalez</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Student</strong></h6>
      <!--Linkedin -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li"
        href="https://www.linkedin.com/in/leonard-gonzalez-a8086719a/" target="_blank">
        <i class="fab fa-linkedin-in "></i>
      </a>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="avatar ">
        <img src="/img/stuff/IMG_6684.JPG" height="400" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Félix</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Best Friend</strong></h6>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">
      <div class="avatar mx-auto">
        <img src="/img/stuff/0.jpg" height="350" class="rounded z-depth-1-half" alt="Sample avatar">
      </div>
      <h4 class="font-weight-bold dark-grey-text my-4">Noemi Solis</h4>
      <h6 class="text-uppercase grey-text mb-3"><strong>Website Consultant</strong></h6>
      <!--Linkedin -->
      <a type="button" class="btn-floating btn-sm mx-1 mb-0 btn-li" href="https://www.linkedin.com/in/noemisolis/"
        target="_blank">
        <i class="fab fa-linkedin-in "></i>
      </a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Team v.2 -->


<%- include('layouts/footer.ejs') %>